*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gotham', sans-serif
}
/*header nav*/
.header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
    padding: 24px 14px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 10;
    
  
}
.log{
    display: flex;
    margin-left: 10px;
}
nav ul{
    margin-right:114px;
}
nav ul li{
    display: inline-flex;
    padding: 0px  20px;
    font-size: 24px;
    justify-content: center;
    
}
nav ul li a{
    text-decoration: none;
    color: rgba(50, 50, 50, 1);

}
nav ul li:hover{
    background: rgba(71, 175, 113, 1);
    color: #FFFFFF;
}
.head-icon{
    margin-right: -541px;
}
.head-icon img{
    font-size: 36px;
    margin-left: -512px;
}
.content{
    margin-right: -231px;
}
.content h2{
    margin-right: 50px;
}
.search-icon i{
    font-size: 28px;
    margin-right: 20px;
    margin-top: 14px;
}
/*heading*/
.heading{
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}
/*button*/
.button{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.selector{
    width: 300px;
    margin: 12px 60px;
}
#selectfield{
    width: 100%;
    padding: 8px 11px;
    box-sizing: border-box;
    background:#FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid black;
    
}
#selectfield img{
    width: 30px;
}
#list{
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid black;
}
.option{
    width: 100%;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}
.option:hover{
    background: beige;
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/*second*/
.selector1{
    width: 300px;
    margin: 12px 60px;
}
#selectfield1{
    width: 100%;
    padding: 8px 11px;
    box-sizing: border-box;
    background:#FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid black;
    
}
#selectfield1 img{
    width: 30px;
}
#list1{
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid black;
}
.option1{
    width: 100%;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}
.option1:hover{
    background: beige;
}
.hide1{
    visibility: hidden;
}
.rotate1{
    transform: rotate(180deg);
}
/*third*/
.selector2{
    width: 300px;
    margin: 12px 60px;
}
#selectfield2{
    width: 100%;
    padding: 8px 11px;
    box-sizing: border-box;
    background:#FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid black;
    
}
#selectfield2 img{
    width: 30px;
}
#list2{
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid black;
}
.option2{
    width: 100%;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}
.option2:hover{
    background: beige;
}
.hide2{
    visibility: hidden;
}
.rotate2{
    transform: rotate(180deg);
}

/*container*/
.container{
    display: flex;
    justify-content: center;
}
.box1{
    height: 400px;
    width: 400px;
    background: rgb(212, 212, 212);
    margin: -145px 10px;
    z-index: -2;
}
/*horizontal row*/
hr{
    margin-top: 160px;
}

