*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gotham', sans-serif
}
.header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
    padding: 24px 14px;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 10;
    
  
}
.log{
    display: flex;
    margin-left: 10px;
}
nav ul{
    margin-right:114px;
}
nav ul li{
    display: inline-flex;
    padding: 0px  20px;
    font-size: 24px;
    justify-content: center;
    color: rgba(50, 50, 50, 1);
}
nav ul li:hover{
    background: rgba(71, 175, 113, 1);
    color: #FFFFFF;
}
.head-icon{
    margin-right: -541px;
}
.head-icon img{
    font-size: 36px;
    margin-left: -512px;
}
.content{
    margin-right: -231px;
}
.content h2{
    margin-right: 50px;
}
.search-icon i{
    font-size: 28px;
    margin-right: 20px;
    margin-top: 14px;
}
/*gif css */
.gif{
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px 28px;
}
.video-overlay{
    height: 600px;
    width: 100%;  
}
video{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}
.value1{
    position: absolute;
}
.value1 h1{
    font-size: 70px;
    color: #FFFFFF;
}
.value1 h1 span{
    color: rgba(71, 175, 113, 1);
    font-size: 48px;
}
.value1 h2{
    font-size: 36px;
    color: #FFFFFF;
}
.btn1{
    margin-top: 142px;
    border-radius: 10px;
    background: rgba(71, 175, 113, 0.51);
}
.btn1:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
.btn1 p{
    font-size: 36px;
    font-weight: 700;
    padding: 6px 24px;
    color: #FFFFFF;
}
/*3r section*/
.heading-text{
    text-align: center;
    margin-top: 53px;
}
.list ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.list ul li{
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    border: 1px solid #7d7479;
    margin: 30px 18px;
    padding: 5px 10px;
    border-radius: 5px; 
    background: #000000;
    color: #FFFFFF;
}
.list ul li:hover{
    background: rgba(71, 175, 113, 1);
    color: #FFFFFF;
    border-radius: 5px;
    transform: translateY(-5px);
    cursor: pointer;
}
/*slider*/
.container1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #FFFFFF;
}
.swiper .swiper-pagination-bullet-active{
    background: white;
}
/*button*/ 

.btn2{
    text-align: center;
    font-size: 24px;
    margin: 60px;
    cursor: pointer;
}
.btn2 button{
    padding: 16px 60px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 3px solid black;
}
.btn2 p{
    font-size: 24px;
    font-weight: 700;
}
button:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    background: rgba(32, 32, 33, 1);
    align-items: center;
    padding: 20px;
}
.footer-list ul{
    
 margin: 0px 16px;
}
.footer-list ul li{
    color: #FFFFFF;
    list-style: none;
    font-size: 20px;
    margin-right: 130px;
    padding: 5px;
}

.logo2 p{
    color: #FFFFFF;
    margin-top: 40px;
}
.social-icon{
    margin-right: 10px;
}
.social-icon i{
 color: #FFFFFF;
 padding: 10px;
 font-size: 30px;
}
.social-icon i:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.social h3{
    color: #FFFFFF;
    margin-left: 12px;
}
.social p{
    color: #FFFFFF;
    margin: 6px 12px;
}
/*responsive*/
@media only screen and (max-width=800){
    body{
        background-color: #7d7479;
    }
}